body {
  background-color: white;
  font-family: arial, sans-serif;
  font-size: 13px;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Top li {
  list-style-type: none;
  float: right;
  margin: 16px 8px 15px 8px;
}

#Inicio {
  color: white;
  background-color: #4583ec;
  font-family: arial, sans-serif;
  float: right;
  border-radius: 1px;
  padding: 8px 12px 8px 12px;
  margin: -7px 16px 15px 5px;
}

.center img {
  display: block;
  margin: 130px auto 10px auto;
}

.center input {
  height: 30px;
  width: 400px;
  display: block;
  margin: 30px auto 30px auto;
  padding: 7px 25px 7px 25px;
  border: 1.75px;
  border-style: solid;
  border-radius: 35px;
  border-color: rgba(199, 199, 199, 0.507);
}

#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

#buttons button {
  background-color:#f2f2f2;
  border: none;
  color: #5f6368;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 0px 5px;
  cursor: pointer;
}

#Bottom p {
  font-family: arial, sans-serif;
  font-size: 13px;
  color: #5f6368;
  background-color:#f2f2f2;
  border: 1px 0 1px 0;
  border-color: rgb(100, 100, 100);
  padding: 10px 10px 10px 10px;
  position: fixed;
  bottom: 41px;
  left: 0px;
  right: 0px;
  padding: 13px 100px 13px 28px;
  margin: 0px 0px 0px 0px; 
}

#left p {
  list-style-type: none;
  font-family: arial, sans-serif;
  font-size: 13px;
  color: #5f6368;
  background-color: #f2f2f2;
  border-top: 1px;
  border-color: #e4e4e4;
  display: block;
  float: left;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 13px 100px 13px 28px;
  margin: 0px 0px 0px 0px;
}

#right p {   
  list-style-type: none;
  font-family: arial, sans-serif;
  font-size: 13px;
  color: #5f6368;
  background-color: #f2f2f2;
  border-top: 1px;
  border-color: #e4e4e4;
  display: block;
  float: right;
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 13px 28px 13px 0px;
  margin: 0px 0px 0px 0px;
}
